.button-icon {
  color: inherit;
  background-color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  height: 50px;
  width: 50px;
  font-size: 24px;
}

.about-page p {
  font-size: 18px;
  color: var(--zwart);
}
