.bottom-bar .item svg {
  font-size: 2.25em;
}

.bottom-bar .item {
  color: #005d72;
}

.bottom-bar .item-selected {
  color: #022b37;
}

.bottom-bar button {
  min-height: 6em;
  min-width: 6em;
  max-width: 12em;
  background: none;
  color: rgb(37, 37, 37);
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  flex: 1 1 auto;
}

.bottom-bar button:hover {
  animation: zoom 100ms ease-in-out 1 forwards;
}

.bottom-bar button:active {
  animation: press 100ms ease-in-out 1 forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes press {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.15);
  }
}
