.background-image {
  background: url('./festen.jpg');
  background-size: cover;
  display: block;
  filter: blur(2px);
  height: 100%;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  transform: scale(
    1.1
  ); /* adds scaling to avoid white border on blurred image */
}

.app {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 28px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 100px;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
}

.bottom-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 70px;
  width: 100%;
}

.bottom-bar button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.bottom-bar button:hover {
  animation: zoom 100ms ease-in-out 1 forwards;
}

.bottom-bar button:active {
  animation: press 100ms ease-in-out 1 forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes press {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}
