@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

html {
  box-sizing: border-box;
  font-family: 'Lato', verdana, sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #2188d2;
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}
