.overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: radial-gradient(
    ellipse at bottom left,
    #2aa7ba 0%,
    #12a5bb 30%,
    #025f76 70%,
    #025f76 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-content button {
  margin: 1em;
}

.overlay-content p {
  color: white;
  font-size: 2.5em;
  margin: 0;
  padding: 1em;
  line-height: 1.5;
}

.overlay-content a {
  color: var(--wit);
}

.slide-in-top {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
